In [8]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import lightgbm as lgb
import matplotlib.pylab as plt



from lightgbm import LGBMRanker
from annoy import AnnoyIndex

In [9]:
test_df = pd.read_csv('test_public-v0.3.csv')

In [10]:
print("shape test = " , test_df.shape)

shape test =  (48696, 4)

In [11]:
test_df.info()
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48696 entries, 0 to 48695
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   query_id      48696 non-null  int64
 1   query         48696 non-null  object
 2   query_locale  48696 non-null  object
 3   product_id    48696 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.5+ MB

   query_id                                query query_locale  product_id
0     33779  #10 envelopes without security tint           us  B000DT87J4
1     33779  #10 envelopes without security tint           us  B000T9MP5U
2     33779  #10 envelopes without security tint           us  B0012ND8EY
3     33779  #10 envelopes without security tint           us  B001MBK5UG
4     33779  #10 envelopes without security tint           us  B007YX2KB8

In [12]:
test_df.isnull().sum()

query_id        0
query           0
query_locale    0
product_id      0
dtype: int64